Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

ruff:
  name: ruff
  args:
  - check
  - --target-version
  - py311
  - --fix
  - --show-fixes
  entry: ruff
  language: system

black:
  name: black
  args:
  - -t
  - py311
  entry: black
  language: system

prettier:
  name: prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

🧑‍💻 tweak pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

👷 tweak prettier workflow
  .github/workflows/checks.yml
Due: prettier

🔀 master -> main
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
Due: prettier

✏️ correct typo in show_art center param docstring
  xthulu/ssh/ui/art.py
Due: ruff, black

✨ replace blessed with rich/textual
  README.md
  requirements/requirements.in
  requirements/requirements.txt
  userland/models/oneliner.py
  userland/scripts/editor_demo.py
  userland/scripts/lock_example.py
  userland/scripts/oneliners.py
  userland/scripts/oneliners.tcss
  userland/scripts/top.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/driver.py
  xthulu/ssh/console/file_wrapper.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/terminal/__init__.py
  xthulu/ssh/terminal/constants.py
  xthulu/ssh/terminal/proxy_call.py
  xthulu/ssh/terminal/proxy_terminal.py
  xthulu/ssh/terminal/subprocess.py
Due: ruff, black, prettier

⬆️ bump importlib-metadata in dev.txt
  requirements/dev.txt
Due: prettier

⬆️ bump pygments and zipp in dev requirements
  requirements/dev.txt
Due: prettier

⚰️ ditch xthulu.ssh.ui package for now
  xthulu/ssh/ui/__init__.py
  xthulu/ssh/ui/art.py
  xthulu/ssh/ui/editors/__init__.py
  xthulu/ssh/ui/editors/block.py
  xthulu/ssh/ui/editors/line.py
Due: ruff, black

🎨 simplify
  userland/scripts/oneliners.py
Due: ruff, black

✨ replace blessed with rich/textual (#113)
  README.md
  requirements/dev.txt
  requirements/requirements.in
  requirements/requirements.txt
  userland/artwork/login.ans
  userland/artwork/oneliners.ans
  userland/models/oneliner.py
  userland/scripts/editor_demo.py
  userland/scripts/lock_example.py
  userland/scripts/oneliners.py
  userland/scripts/oneliners.tcss
  userland/scripts/top.py
  xthulu/ssh/codecs/__init__.py
  xthulu/ssh/codecs/amiga.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/driver.py
  xthulu/ssh/console/file_wrapper.py
  xthulu/ssh/console/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/terminal/__init__.py
  xthulu/ssh/terminal/constants.py
  xthulu/ssh/terminal/proxy_call.py
  xthulu/ssh/terminal/proxy_terminal.py
  xthulu/ssh/terminal/subprocess.py
  xthulu/ssh/ui/__init__.py
  xthulu/ssh/ui/art.py
  xthulu/ssh/ui/editors/__init__.py
  xthulu/ssh/ui/editors/block.py
  xthulu/ssh/ui/editors/line.py
Due: ruff, black, prettier

🧑‍💻 update vscode settings
  .vscode/settings.json
Due: prettier

✨ context.inkey method
  userland/scripts/lock_example.py
  userland/scripts/top.py
  xthulu/ssh/context/__init__.py
Due: ruff, black

💄 tweak artwork
  docker/docker-compose.yml
  userland/artwork/login.ans
Due: prettier

✨ improve oneliner validation
  userland/scripts/oneliners.py
Due: ruff, black

📝 update readme links for rich/textual
  README.md
Due: prettier

📝 docker-compose => docker compose
  README.md
Due: prettier

✏️ fix ports in docker-compose
  docker/docker-compose.yml
Due: prettier

📝 update contributor guide
  .devcontainer/on-create.sh
  CONTRIBUTING.md
Due: prettier

✨ extend oneliners length, inline css
  userland/models/oneliner.py
  userland/scripts/oneliners.py
  userland/scripts/oneliners.tcss
Due: ruff, black, prettier

🦺 drop support for non-utf-8 encodings for now
  userland/scripts/lock_example.py
  userland/scripts/top.py
  xthulu/ssh/console/art.py
  xthulu/ssh/context/__init__.py
Due: ruff, black

🩹 fix oneliner loading
  userland/scripts/oneliners.py
Due: ruff, black

💄 amiga codec fixups
  xthulu/ssh/codecs/amiga.py
Due: ruff, black

🧑‍💻 fix dev containers (sort of)
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
Due: prettier

🎨 use /bin/true for base image
  docker/docker-compose.yml
Due: prettier

🙈 add ruff cache to vscode ignore
  .vscode/settings.json
Due: prettier

💡 docstrings
  xthulu/ssh/codecs/__init__.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/driver.py
  xthulu/ssh/console/file_wrapper.py
  xthulu/ssh/console/input.py
Due: ruff, black

🔧 update timeout in example config
  data/config.example.toml
Due: prettier

🧑‍💻 add even-better-toml to extension recs
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

🎨 vim demo
  userland/scripts/top.py
Due: ruff, black

🩹 fix oneliners banner crop
  userland/scripts/oneliners.py
Due: ruff, black

🩹 fix cropping in art display methods
  userland/artwork/login.ans
  userland/scripts/top.py
  xthulu/ssh/console/art.py
Due: ruff, black, prettier

✨ add sysinfo to top demo
  userland/artwork/sysinfo.ans
  userland/scripts/top.py
  xthulu/ssh/console/art.py
Due: ruff, black, prettier

💄 reduce vertical spacing for locks demo banner
  userland/scripts/lock_example.py
Due: ruff, black

✅ event queue tests
  tests/test_events.py
  xthulu/events/__init__.py
Due: ruff, black

👷 workflow concurrency rules
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
Due: prettier

✅ moar event queue tests
  tests/test_events.py
Due: ruff, black

✅ clean up ssh server tests
  tests/ssh/test_start_server.py
Due: ruff, black

💡 comment test stages
  tests/ssh/test_start_server.py
  tests/test_resources.py
  tests/web/test_start_server.py
Due: ruff, black

✅ event queue chronology tests
  tests/test_events.py
Due: ruff, black

💡 oneliners docstrings
  userland/scripts/oneliners.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  prettier: any file but: \.py$
