Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, eslint, prettier

ruff-lint:
  name: Lint files with ruff
  args:
  - check
  - --fix
  - --show-fixes
  entry: ruff
  language: system

ruff-format:
  name: Format files with ruff
  args:
  - format
  entry: ruff
  language: system

eslint:
  name: Lint files with ESLint
  args:
  - eslint
  - --fix
  entry: npx
  language: system

prettier:
  name: Format files with prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

💄 add NUA artwork, fix bold/bright in other artwork
  userland/artwork/login.ans
  userland/artwork/logoff.ans
  userland/artwork/main.ans
  userland/artwork/messages.ans
  userland/artwork/nua.ans
  userland/artwork/oneliners.ans
  userland/artwork/sysinfo.ans
  userland/scripts/nua.py
  xthulu/ssh/console/app.py
Due: ruff-lint, ruff-format, prettier

✨ add choice helper function, skip to main menu
  userland/scripts/top.py
  xthulu/ssh/console/choice.py
Due: ruff-lint, ruff-format

🩹 properly handle app return type
  userland/scripts/main.py
  userland/scripts/nua.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

💄 clear console in locks demo
  userland/scripts/lock_example.py
Due: ruff-lint, ruff-format

✨ add reset button to message filter modal
  userland/scripts/messages/filter_modal.py
Due: ruff-lint, ruff-format

🩹 disable command palette in textual apps
  xthulu/ssh/console/app.py
Due: ruff-lint, ruff-format

⚰️ remove unused error message widget in oneliners
  userland/scripts/oneliners.py
Due: ruff-lint, ruff-format

✨ header for message view screen
  userland/scripts/messages/view_screen.py
Due: ruff-lint, ruff-format

✨ show author in message list
  userland/models/message/api.py
  userland/scripts/messages/app.py
Due: ruff-lint, ruff-format

🔨 update script
  bin/update
Due: prettier

✨ log out of web interface
  userland/web/routes/__init__.py
  userland/web/routes/logout.py
  userland/web/static/index.html
  userland/web/static/logout/index.html
  userland/web/static/logout/script.ts
  userland/web/static/vite.config.ts
Due: ruff-lint, ruff-format, eslint, prettier

🩹 hide filter in message view
  userland/scripts/messages/app.py
  userland/scripts/messages/view_screen.py
Due: ruff-lint, ruff-format

🎨 no empty super() calls
  userland/models/message/__init__.py
  userland/models/message/message_tags.py
  userland/models/message/tag.py
  userland/models/oneliner.py
  userland/scripts/chat.py
  userland/scripts/main.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
  userland/web/schema/chat.py
  xthulu/models/user.py
  xthulu/resources.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/banner_app.py
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/file_wrapper.py
  xthulu/ssh/context/logger_adapter.py
  xthulu/ssh/server.py
Due: ruff-lint, ruff-format

💄 revamp web logout ux
  tsconfig.json
  userland/web/static/logout/index.html
  userland/web/static/logout/script.mts
  userland/web/static/logout/script.ts
Due: eslint, prettier

📝 separate feature check list
  CHECKLIST.md
  README.md
Due: prettier

💄 message recipient input/display
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/view_screen.py
  xthulu/models/user.py
Due: ruff-lint, ruff-format

📝 strikethrough finished items
  CHECKLIST.md
Due: prettier

✨ add swap_bold feature to artwork-related apps/functions
  userland/artwork/login.ans
  userland/artwork/logoff.ans
  userland/artwork/main.ans
  userland/artwork/messages.ans
  userland/artwork/nua.ans
  userland/artwork/oneliners.ans
  userland/artwork/sysinfo.ans
  xthulu/ssh/console/art.py
Due: ruff-lint, ruff-format, prettier

✨ alt text for banner, spruce up main menu
  userland/artwork/main.ans
  userland/artwork/messages.ans
  userland/artwork/oneliners.ans
  userland/scripts/main.py
  userland/scripts/messages/__init__.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format, prettier

🐛 fix cli event loop stuff
  tests/cli/test_ssh.py
  userland/cli/db.py
  xthulu/cli/_util.py
  xthulu/cli/db.py
  xthulu/cli/ssh.py
Due: ruff-lint, ruff-format

🐛 start pubsub listener after chat app is ready
  userland/scripts/chat.py
Due: ruff-lint, ruff-format

💄 no auto focus for main menu
  userland/scripts/main.py
  userland/scripts/top.py
Due: ruff-lint, ruff-format

🚨 formatting
  xthulu/cli/ssh.py
Due: ruff-lint, ruff-format

🩹 default to ansi_color for apps
  xthulu/ssh/console/app.py
Due: ruff-lint, ruff-format

💄 color touch-ups
  userland/scripts/messages/app.py
  userland/scripts/messages/view_screen.py
Due: ruff-lint, ruff-format

✨ adjustable banner padding
  userland/scripts/main.py
  userland/scripts/nua.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

💄 some banner layout fixups
  userland/scripts/main.py
  userland/scripts/messages/app.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

🩹 only swap bold/bright in scroll_art; banner apps can use ansi_color
  xthulu/ssh/console/art.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

📝 node chat is example of global ipc
  CHECKLIST.md
Due: prettier

📝 strikethrough
  CHECKLIST.md
Due: prettier

🚚 move scripting module to ssh.context
  tests/ssh/context/__init__.py
  tests/ssh/context/test_scripting.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/context/scripting.py
Due: ruff-lint, ruff-format

💡 tidy up docstrings
  userland/scripts/chat.py
  userland/web/schema/chat.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

♻️ use "with" pattern for nested components
  userland/scripts/chat.py
  userland/scripts/main.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
Due: ruff-lint, ruff-format

🚨 ruff format
  xthulu/ssh/console/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

♻️ use AUTO_FOCUS in apps
  userland/models/message/__init__.py
  userland/scripts/chat.py
  userland/scripts/main.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
Due: ruff-lint, ruff-format

📝 add permissions/groups to checklist
  CHECKLIST.md
Due: prettier

🐛 fix banner padding
  userland/scripts/main.py
  userland/scripts/messages/app.py
  userland/scripts/nua.py
  userland/scripts/oneliners.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

🐛 add backend=auto to fail2ban conf
  etc/fail2ban/jail.d/xthulu.conf
Due: prettier

✨ include proxied ip info in www logs
  data/config.schema.json
  tests/web/test_start_server.py
  xthulu/configuration/default.py
  xthulu/web/__init__.py
Due: ruff-lint, ruff-format, prettier

🩹 ignore 401 from logout route
  etc/fail2ban/filter.d/xthulu_www.conf
Due: prettier

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: \.(js|ts)$
  prettier: any file but: \.py$
