Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      - id: no-commit-to-branch
        name: Block commits to main branch

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: ruff
        name: Lint files with ruff
        args: [check, --target-version, py311, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: black
        name: Format files with black
        args: [-t, py311]
        entry: black
        language: system
        types: [python]

      - id: prettier
        name: Format files with prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

🐛 ensure database connections are closed
  xthulu/ssh/__init__.py
  xthulu/web/auth.py
Due: ruff, black

♻️ web chat overhaul
  userland/web/routes/chat.py
  userland/web/schema/chat.py
  userland/web/static/chat/index.html
  userland/web/static/chat/script.js
  userland/web/static/chat/styles.css
Due: ruff, black, prettier

🐛 ensure ssh db connection is open :P
  xthulu/ssh/__init__.py
Due: ruff, black

⚰️ remove leftover debug print
  xthulu/web/__init__.py
Due: ruff, black

🐛 html-encode chat messages
  userland/web/static/chat/script.js
Due: prettier

🩹 html semantic fixups
  userland/web/static/chat/index.html
  userland/web/static/chat/script.js
  userland/web/static/index.html
  xthulu/web/static/index.html
Due: prettier

🔖 release 0.3.1
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  70e5e498cfabaac20e674e83a81db13fa639dbad
Due: prettier

🩹 disable autocomplete for chat input
  userland/web/static/chat/index.html
  userland/web/static/chat/script.js
Due: prettier

🚧 wip
  userland/scripts/top.py
  userland/web/static/chat.html
  xthulu/web/__init__.py
Due: ruff, black, prettier

✨ logoff script
  userland/artwork/logoff.ans
  userland/scripts/logoff.py
  userland/scripts/top.py
Due: ruff, black, prettier

🚧 wip
  userland/artwork/messages.ans
  userland/scripts/messages.py
  userland/scripts/top.py
  xthulu/cli/db.py
Due: ruff, black, prettier

💡 comments
  userland/scripts/messages.py
Due: ruff, black

🩹 fix escape binding behavior
  userland/scripts/messages.py
Due: ruff, black

💄 add message id as label in listview
  userland/scripts/messages.py
Due: ruff, black

🏷️ moar type hints
  userland/scripts/messages.py
Due: ruff, black

🏷️ add type hints for all userland scripts
  userland/scripts/chat.py
  userland/scripts/lock_example.py
  userland/scripts/logoff.py
  userland/scripts/oneliners.py
  userland/scripts/top.py
Due: ruff, black

🏷️ use schema in rest responses
  userland/web/routes/chat.py
  userland/web/routes/index.py
  userland/web/schema/__index__.py
  userland/web/schema/chat.py
  userland/web/schema/index.py
  xthulu/web/routes/index.py
  xthulu/web/schema/__init__.py
  xthulu/web/schema/index.py
Due: ruff, black

♻️ avoid redundant get_config for db.set_bind
  userland/cli/db.py
  xthulu/cli/db.py
  xthulu/resources.py
  xthulu/ssh/__init__.py
  xthulu/web/auth.py
Due: ruff, black

💡 docstring cleanup
  xthulu/cli/web.py
  xthulu/ssh/__init__.py
  xthulu/web/__init__.py
  xthulu/web/asgi.py
Due: ruff, black

✅ fix tests and singleton check
  tests/ssh/test_start_server.py
  xthulu/resources.py
Due: ruff, black

🐛 fix web auth db bind
  xthulu/web/auth.py
Due: ruff, black

🚚 __index__.py -> __init__.py :P
  userland/web/schema/__init__.py
Due: ruff, black

💡 moar docstrings
  userland/web/routes/chat.py
  userland/web/routes/index.py
  userland/web/schema/chat.py
  userland/web/schema/index.py
  xthulu/web/schema/index.py
Due: ruff, black

💡 login_auth docstring
  xthulu/web/auth.py
Due: ruff, black

💡 asgi docstring
  xthulu/web/asgi.py
Due: ruff, black

💡 all the docstrings
  xthulu/events/__init__.py
  xthulu/locks.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/context/lock_manager.py
  xthulu/ssh/context/log_filter.py
  xthulu/ssh/exceptions.py
  xthulu/ssh/proxy_protocol.py
  xthulu/web/__init__.py
  xthulu/web/auth.py
Due: ruff, black

♻️ use dataclass instead of namedtuple
  xthulu/events/structs.py
  xthulu/ssh/structs.py
Due: ruff, black

🔒️ CSRF for web chat
  userland/scripts/chat.py
  userland/web/routes/chat.py
  userland/web/schema/chat.py
  userland/web/static/chat/script.js
Due: ruff, black, prettier

♻️ use const for web chat csrf token refresh threshold
  userland/web/routes/chat.py
Due: ruff, black

🚚 move handle_events out of userland
  xthulu/ssh/context/handle_events.py
Due: ruff, black

♻️ trim web to userland only
  README.md
  docker/docker-compose.yml
  docker/nginx.Dockerfile
  userland/web/__init__.py
  userland/web/static/chat/script.js
  userland/web/static/index.html
  xthulu/web/__init__.py
  xthulu/web/routes/__init__.py
  xthulu/web/routes/index.py
  xthulu/web/schema/__init__.py
  xthulu/web/schema/index.py
  xthulu/web/static/index.html
Due: ruff, black, prettier

🔖 release 0.4.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  a6cabeeeb8e992f0fa162636b949df6cbf163ef6
Due: prettier

✨ typescript web userland
  .gitignore
  README.md
  docker/docker-compose.yml
  package-lock.json
  package.json
  requirements/dev.in
  requirements/dev.txt
  tsconfig.json
  userland/web/static/chat/index.html
  userland/web/static/chat/script.ts
  userland/web/static/index.html
  userland/web/static/script.ts
  userland/web/static/vite.config.ts
Due: prettier

🔨 convenience script for building web assets
  README.md
  etc/build-web.sh
  package.json
Due: prettier

🧑‍💻 fix eslint settings
  .eslintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier

🔥 replace index with page list
  userland/web/routes/__init__.py
  userland/web/routes/index.py
  userland/web/schema/index.py
  userland/web/static/index.html
  userland/web/static/script.ts
Due: ruff, black, prettier

📝 "connect" section in readme
  README.md
Due: prettier

🧑‍💻 lowercase all requirements for consistency
  requirements/requirements.in
Due: prettier
