Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      - id: no-commit-to-branch
        name: Block commits to main branch

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: ruff
        name: Lint files with ruff
        args: [check, --target-version, py311, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: black
        name: Format files with black
        args: [-t, py311]
        entry: black
        language: system
        types: [python]

      - id: prettier
        name: Format files with prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

✨ main menu
  userland/scripts/main.py
  userland/scripts/nua.py
  userland/scripts/top.py
Due: ruff, black

🩹 fix scrolling in non-listview message widgets
  userland/scripts/messages/app.py
Due: ruff, black

♻️ window titles
  userland/scripts/main.py
  userland/scripts/nua.py
Due: ruff, black

✨ reject bad_usernames entries during login
  xthulu/ssh/server.py
Due: ruff, black

✨ log to file
  .gitignore
  docker/docker-compose.yml
  run/logs/.gitkeep
  xthulu/logger.py
Due: ruff, black, prettier

🔧 fail2ban configs
  etc/fail2ban/filter.d/xthulu.conf
  etc/fail2ban/jail.d/xthulu.conf
Due: prettier

🏗️ use internal network for base-image container
  docker/docker-compose.yml
Due: prettier

🏗️ remove version from docker-compose spec
  docker/docker-compose.yml
Due: prettier

🧑‍💻 use nvm in devcontainer
  .devcontainer/on-create.sh
Due: prettier

📝 reorder setup
  README.md
Due: prettier

🧑‍💻 convenience scripts for cli containers
  README.md
  etc/cli.sh
  etc/userland.sh
Due: prettier

📝 chat app note
  README.md
Due: prettier

🧑‍💻 clean up vscode settings
  .vscode/settings.json
Due: prettier

♻️ explicitly set port on fail2ban jail action
  etc/fail2ban/jail.d/xthulu.conf
Due: prettier

🔖 release 0.7.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  5cfd8b6cae3e6f3f64799b95850e3a3ed99498bb
Due: prettier

⬆️ node lts/hydrogen
  .nvmrc
  package-lock.json
  package.json
Due: prettier

🧑‍💻 move build command to vite.config.ts
  package.json
  userland/web/static/vite.config.ts
Due: prettier

⬆️ npm-check-updates
  package-lock.json
  package.json
Due: prettier

🏗️ ignore all override yml
  .gitignore
Due: prettier

🧑‍💻 update command for generating rsa key to provide empty passphrase
  README.md
Due: prettier

✨ command line flags for db commands
  README.md
  userland/cli/db.py
  xthulu/cli/db.py
Due: ruff, black, prettier

🩹 fix --seed cli flag
  userland/cli/db.py
  xthulu/cli/db.py
Due: ruff, black

🧑‍💻 messages api for shared functionality
  userland/models/message/api.py
  userland/scripts/messages/app.py
Due: ruff, black

💄 use static vs. label for banner
  xthulu/ssh/console/banner_app.py
Due: ruff, black

♻️ use MessageFilter to contain tags
  userland/scripts/messages/app.py
Due: ruff, black

✨ submit messages filter modal with enter key
  userland/scripts/messages/filter_modal.py
Due: ruff, black

♻️ simplify message limit calculation
  userland/scripts/messages/app.py
Due: ruff, black

✨ setup script
  .github/workflows/docker-build.yml
  README.md
  docker/docker-compose.yml
  etc/setup.sh
  userland/cli/db.py
  xthulu/cli/db.py
Due: ruff, black, prettier

📝 link to alpha release project board
  README.md
Due: prettier

Notes added by 'git notes add'
  fc85345aac0d46abd9289aed7dc6f0b98251006d
Due: prettier

🔖 release 0.8.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

🐛 fix setup script userland.sh reference
  etc/setup.sh
Due: prettier

🔖 release 0.8.1
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  75e15e9e67ee638596c878108e3153089a28ec20
Due: prettier

♻️ simplify userland model import during destroy
  xthulu/cli/db.py
Due: ruff, black

demo gif
  demo.gif
Due: prettier

📝 link to demo video gif
  README.md
Due: prettier

📝 moar emoji in readme
  README.md
Due: prettier

🩹 fix db server name in example config
  data/config.example.toml
Due: prettier
