Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # - id: no-commit-to-branch
      #   name: Block commits to main branch

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args:
          # Avoid use of cache directory with pip
          - --ignore
          - DL3042

  - repo: local
    hooks:
      - id: ruff-lint
        name: Lint files with ruff
        args: [check, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: ruff-format
        name: Format files with ruff
        args: [format]
        entry: ruff
        language: system
        types: [python]

      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts)$
        language: system

      - id: prettier
        name: Format files with prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

🔊 include timestamp in www access logs, no colors
  etc/fail2ban/filter.d/xthulu_www.conf
  xthulu/web/__init__.py
Due: ruff-lint, ruff-format, prettier

💚 fix js/ts change check
  .github/workflows/checks.yml
Due: prettier

🎨 remove unnecessary type hint
  xthulu/ssh/console/app.py
Due: ruff-lint, ruff-format

♻️ split textual css into own files
  userland/scripts/main.py
  userland/scripts/main.tcss
  userland/scripts/messages/app.py
  userland/scripts/messages/styles.tcss
  userland/scripts/nua.py
  userland/scripts/nua.tcss
  userland/scripts/oneliners.py
  userland/scripts/oneliners.tcss
Due: ruff-lint, ruff-format, prettier

🔖 release 0.11.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  990a1e70bdcd62924620c7890a95b343cac7e28e
Due: prettier

🧑‍💻 fix gitmoji detection
  package-lock.json
  package.json
Due: prettier

💚 fix concurrency
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
Due: prettier

🧑‍💻 note about lowercase
  .github/workflows/commitlint.yml
Due: prettier
