Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      - id: no-commit-to-branch
        name: Block commits to main branch

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: ruff
        name: Lint files with ruff
        args: [check, --target-version, py311, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: black
        name: Format files with black
        args: [-t, py311]
        entry: black
        language: system
        types: [python]

      - id: prettier
        name: Format files with prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

✨ configurable log level
  data/config.example.toml
  tests/ssh/test_start_server.py
  xthulu/configuration/default.py
  xthulu/logger.py
  xthulu/ssh/__init__.py
  xthulu/ssh/server.py
Due: ruff, black, prettier

✅ clean up config patch in unit test
  tests/ssh/test_start_server.py
Due: ruff, black

🔧 add COLORTERM to docker-compose
  docker/docker-compose.yml
Due: prettier

♻️ split userland module loading into utility function
  xthulu/scripting.py
  xthulu/ssh/context/__init__.py
Due: ruff, black

♻️ use custom logger adapter for injecting log message with connection info
  xthulu/ssh/context/__init__.py
  xthulu/ssh/context/log_filter.py
  xthulu/ssh/context/logger_adapter.py
Due: ruff, black

🔊 add debug logging to ssh server startup/shutdown
  xthulu/cli/ssh.py
Due: ruff, black

♻️ ground work for forcibly closing connections
  xthulu/ssh/__init__.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/exceptions.py
  xthulu/ssh/process_factory.py
Due: ruff, black

💡 fix docstring for ContextLoggerAdapter
  xthulu/ssh/context/logger_adapter.py
Due: ruff, black

✨ gzipped log rotation
  userland/scripts/logoff.py
  userland/scripts/messages/__init__.py
  userland/scripts/oneliners.py
  userland/scripts/top.py
  xthulu/logger.py
Due: ruff, black

🔖 release 0.9.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  824e8cc75ac75e159ff39845b41cf582c6e6e359
Due: prettier

💡 remove comment from .editorconfig to gitmoji all the things
  .editorconfig
Due: prettier

🚧 wip
  .pre-commit-config.yaml
Due: prettier

🧑‍💻 tune Dockerfile and hadolint settings
  .pre-commit-config.yaml
  docker/Dockerfile
Due: prettier

⬆️ python 3.12
  docker/Dockerfile
  docker/docker-compose.yml
  pyproject.toml
  requirements/dev.txt
  requirements/hiredis.txt
  requirements/requirements.txt
Due: prettier

✨ autosuggest message tags in filter
  userland/scripts/messages/filter_modal.py
Due: ruff, black

💚 bump workflows to python 3.12
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: prettier

🔖 release 0.10.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  3b45fdfbb8e47a66adbd2257c5550abdfa67c9ac
Due: prettier

🧑‍💻 remove black formatter from vscode extensions
  .vscode/extensions.json
Due: prettier

🧑‍💻 use python 3.12 in devcontainer config
  .devcontainer/on-create.sh
Due: prettier

🧑‍💻 remove nodeenv init command from devcontainer script
  .devcontainer/on-create.sh
Due: prettier

✅ locks tests
  tests/mocks/resources.py
  tests/ssh/test_start_server.py
  tests/test_locks.py
Due: ruff, black

✅ locks tests (#152)
  tests/mocks/resources.py
  tests/ssh/test_start_server.py
  tests/test_locks.py
Due: ruff, black

🔧 fix redis hostname in example config
  data/config.example.toml
Due: prettier

🔨 add checks to db commands
  userland/cli/db.py
  xthulu/cli/db.py
Due: ruff, black

🔊 separately log uvicorn access logs to file
  xthulu/resources.py
  xthulu/web/__init__.py
Due: ruff, black

🔊 warn -> warning
  xthulu/resources.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/server.py
Due: ruff, black

🔧 fail2ban configs for www
  etc/fail2ban/filter.d/xthulu_ssh.conf
  etc/fail2ban/filter.d/xthulu_www.conf
  etc/fail2ban/jail.d/xthulu.conf
Due: prettier

✅ fix tests
  tests/test_resources.py
  tests/web/test_start_server.py
Due: ruff, black

⬆️ bump node version to lts/jod
  .nvmrc
  package-lock.json
  package.json
Due: prettier

📝 3.11 -> 3.12 in contributor doc
  CONTRIBUTING.md
Due: prettier

✅ move to pytest, apply mypy fixes
  .github/workflows/checks.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  requirements/requirements.txt
  tests/mocks/resources.py
  tests/ssh/test_start_server.py
  tests/test_events.py
  tests/test_locks.py
  tests/test_resources.py
  tests/web/test_start_server.py
  userland/cli/db.py
  xthulu/cli/db.py
  xthulu/cli/ssh.py
  xthulu/models/user.py
  xthulu/resources.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/internal/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/proxy_protocol.py
  xthulu/ssh/server.py
Due: ruff, black, prettier

💡 add comments to test_locks
  tests/test_locks.py
Due: ruff, black

✅ improve readability of test_locks
  tests/test_locks.py
Due: ruff, black

✅ avoid use of MagicMock where unnecessary
  tests/test_locks.py
Due: ruff, black

✅ refactor test_start_server
  tests/ssh/test_start_server.py
Due: ruff, black

🎨 roll typing imports into stdlib category
  tests/test_locks.py
  userland/web/routes/chat.py
  xthulu/events/structs.py
  xthulu/scripting.py
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/internal/file_wrapper.py
  xthulu/web/auth.py
Due: ruff, black

✨ gino -> sqlmodel migration
  README.md
  data/config.example.toml
  requirements/dev.in
  requirements/dev.txt
  requirements/hiredis.in
  requirements/hiredis.txt
  requirements/requirements.in
  requirements/requirements.txt
  tests/mocks/resources.py
  tests/ssh/test_start_server.py
  tests/test_resources.py
  userland/cli/db.py
  userland/models/message/__init__.py
  userland/models/message/api.py
  userland/models/message/message_tags.py
  userland/models/message/tag.py
  userland/models/oneliner.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/oneliners.py
  xthulu/cli/db.py
  xthulu/configuration/default.py
  xthulu/models/user.py
  xthulu/resources.py
  xthulu/ssh/__init__.py
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/server.py
  xthulu/web/auth.py
Due: ruff, black, prettier
