Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        args: [check, --target-version, py311, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: black
        name: black
        args: [-t, py311]
        entry: black
        language: system
        types: [python]

      - id: prettier
        name: prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

🧑‍💻 textual css highlighter extension
  .vscode/extensions.json
Due: prettier

💄 oneliners css overhaul
  userland/scripts/oneliners.py
Due: ruff, black

💄 userland script css puffery
  userland/scripts/oneliners.py
  userland/scripts/top.py
Due: ruff, black

📝 add uvicorn to readme
  README.md
Due: prettier

👷 point semantic-release at main branch
  pyproject.toml
Due: prettier

💚 fix semantic-release publishing settings
  .github/workflows/release.yml
  pyproject.toml
  requirements/dev.txt
  requirements/requirements.txt
Due: prettier

🔖 v0.0.2
  CHANGELOG.md
  pyproject.toml
Due: prettier

✨ window titles
  userland/scripts/lock_example.py
  userland/scripts/oneliners.py
  userland/scripts/top.py
  xthulu/ssh/process_factory.py
Due: ruff, black

✅ tiny test reorg
  tests/test_events.py
Due: ruff, black

⚡️ reverse oneliners in database vs. python
  userland/scripts/oneliners.py
Due: ruff, black

🚚 LICENSE -> LICENSE.md
  LICENSE
  LICENSE.md
Due: prettier

🩹 explicit utf-8 check in top
  userland/scripts/top.py
Due: ruff, black

✨ load version dynamically in top
  userland/scripts/top.py
Due: ruff, black

🚨 lint LICENSE.md
  LICENSE.md
Due: prettier

📝 fix db commands in readme
  README.md
Due: prettier

🩹 fix double reversal of oneliners
  userland/scripts/oneliners.py
Due: ruff, black

👷 use default token for release workflow
  .github/workflows/release.yml
Due: prettier

👷 force patch release until 0.1.0
  .github/workflows/release.yml
Due: prettier

👷 update version of checkout action in workflows
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
Due: prettier

🧑‍💻 moar pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

🔧 fix postgres port in example config
  .gitignore
  data/config.example.toml
  docker/docker-compose.yml
Due: prettier

⏪️ revert to secrets-provided token due to branch protections
  .github/workflows/release.yml
Due: prettier

🔖 v0.0.3
  CHANGELOG.md
  pyproject.toml
Due: prettier

🧑‍💻 disable branch protection pre-commit hook until alpha release
  .pre-commit-config.yaml
Due: prettier

💡 add comments to process redirect teardown
  xthulu/ssh/context/__init__.py
Due: ruff, black

♻️ SSHContext.create -> _create to hide in userland script intellisense
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
Due: ruff, black

💡 fix SSHContext.echo args docstring
  xthulu/ssh/context/__init__.py
Due: ruff, black

💡 api docstring/typing fixups
  xthulu/configuration/__init__.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/proxy_protocol.py
Due: ruff, black

🧑‍💻 docker lint exclusions
  .pre-commit-config.yaml
Due: prettier

📌 pin apk dependencies in Dockerfile
  docker/Dockerfile
Due: prettier

♻️ command line API overhaul
  README.md
  docker/docker-compose.yml
  userland/__init__.py
  userland/__main__.py
  userland/cli/__init__.py
  userland/cli/db.py
  userland/cli/seed.py
  xthulu/cli/__init__.py
  xthulu/cli/db.py
Due: ruff, black, prettier

📝 Python 3 -> Python
  README.md
Due: prettier

🩹 fix depends_on for cli and user service containers
  docker/docker-compose.yml
Due: prettier

📝 add dropfile generators to terminal server checklist
  README.md
Due: prettier

👷 use pull request id OR target branch as workflow group
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
Due: prettier

👷 clean up env values in workflows
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Due: prettier

🩹 fix input debuffering with textual apps
  xthulu/ssh/console/app.py
  xthulu/ssh/console/driver.py
Due: ruff, black

🗃️ user model nullable/encoding tweaks
  xthulu/models/user.py
Due: ruff, black
