Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

ruff:
  name: Lint files with ruff
  args:
  - check
  - --target-version
  - py311
  - --fix
  - --show-fixes
  entry: ruff
  language: system

black:
  name: Format files with black
  args:
  - -t
  - py311
  entry: black
  language: system

prettier:
  name: Format files with prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

🧑‍💻 remove unnecessary uvloop requirement (included by uvicorn)
  requirements/requirements.in
  requirements/requirements.txt
Due: prettier

✨ home/end/pageup/pagedown refresh at boundary
  userland/scripts/messages.py
Due: ruff, black

🚧 compose/reply wip
  userland/scripts/messages.py
  xthulu/models/message/__init__.py
Due: ruff, black

🚧 refactor messages script into multiple files
  userland/scripts/messages/__init__.py
  userland/scripts/messages/app.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/save_screen.py
Due: ruff, black

🧑‍💻 eslint pre-commit hook
  .pre-commit-config.yaml
Due: prettier

👷 eslint github workflow job
  .github/workflows/checks.yml
Due: prettier

🚧 refresh checks
  userland/scripts/messages/app.py
Due: ruff, black

🧑‍💻 prettier config
  package-lock.json
  package.json
Due: prettier

⬆️ npm check updates
  package-lock.json
  package.json
Due: prettier

👷 npm i -> npm ci
  .github/workflows/checks.yml
Due: prettier

⬆️ override ip version
  package-lock.json
  package.json
Due: prettier

⬆️ bump fastapi
  requirements/requirements.txt
Due: prettier

♻️ immediately clear chat text on submit
  userland/web/static/chat/script.ts
Due: prettier

💄 better message editor modal css
  userland/scripts/messages/save_screen.py
Due: ruff, black

✨ separate screen for viewing messages
  userland/scripts/messages/app.py
  userland/scripts/messages/view_screen.py
Due: ruff, black

✨ compose/reply to messages
  userland/scripts/chat.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/save_modal.py
  xthulu/models/message/__init__.py
  xthulu/models/message/tag.py
Due: ruff, black

✨ wrap-up
  README.md
  userland/cli/db.py
  userland/models/__init__.py
  userland/models/message/__init__.py
  userland/models/message/message_tags.py
  userland/models/message/tag.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
  xthulu/cli/db.py
  xthulu/models/__init__.py
  xthulu/models/message/message_tags.py
Due: ruff, black, prettier

✨ basic public message system (#117)
  .github/workflows/checks.yml
  README.md
  userland/artwork/messages.ans
  userland/cli/db.py
  userland/models/__init__.py
  userland/models/message/__init__.py
  userland/models/message/message_tags.py
  userland/models/message/tag.py
  userland/scripts/chat.py
  userland/scripts/messages/__init__.py
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
  userland/scripts/top.py
  xthulu/cli/db.py
  xthulu/models/__init__.py
Due: ruff, black, prettier

♻️ remove short-circuit to messages
  userland/scripts/top.py
Due: ruff, black

⬆️ bump requirements
  requirements/dev.txt
  requirements/hiredis.txt
  requirements/requirements.txt
Due: prettier

📝 update README instructions
  README.md
Due: prettier

♻️ add html hint to template literal in chat script
  userland/web/static/chat/script.ts
Due: prettier

⬆️ upgrade github actions
  .github/workflows/checks.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: prettier

📝 reorg readme
  README.md
Due: prettier

🐛 256/truecolor detection fix
  xthulu/ssh/console/__init__.py
Due: ruff, black

🔖 release 0.5.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  47a6f0f1534c65157aa2aa228eb946fcbfc2a46d
Due: prettier

🐛 fix build-web script by setting HOME env var to /tmp
  etc/build-web.sh
Due: prettier

🔖 release 0.5.1
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  408a7ab807fca97575e7e98c81a577aa8795b9aa
Due: prettier

📝 update contributor guide
  CONTRIBUTING.md
Due: prettier

✨ filter messages by tags
  README.md
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/messages/save_modal.py
  userland/scripts/messages/view_screen.py
Due: ruff, black, prettier

♻️ extraneous super() call
  userland/scripts/messages/app.py
Due: ruff, black

💄 art fix for dark black
  userland/artwork/messages.ans
  userland/artwork/oneliners.ans
Due: prettier

🔖 release 0.6.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  29758d6d0f4277beb14c3473bbc61f4d699cf7cc
Due: prettier

♻️ use max_length for Input widgets
  userland/scripts/chat.py
  userland/scripts/messages/details_modal.py
  userland/scripts/oneliners.py
Due: ruff, black

✨ enter submits message details modal
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
Due: ruff, black

✨ scrollable messages list
  userland/scripts/messages/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  prettier: any file but: \.py$
