Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, prettier

ruff:
  name: Lint files with ruff
  args:
  - check
  - --target-version
  - py311
  - --fix
  - --show-fixes
  entry: ruff
  language: system

black:
  name: Format files with black
  args:
  - -t
  - py311
  entry: black
  language: system

prettier:
  name: Format files with prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

✨ BannerApp wrapper class
  userland/scripts/oneliners.py
  xthulu/ssh/console/banner_app.py
Due: ruff, black

♻️ load artwork in BannerApp init
  userland/scripts/oneliners.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff, black

♻️ load artwork in BannerApp init
  xthulu/ssh/console/banner_app.py
Due: ruff, black

🍱 moar artwork
  userland/artwork/login.ans
  userland/artwork/main.ans
  userland/scripts/top.py
Due: ruff, black, prettier

💄 no highlight style for unfocused oneliners list
  userland/scripts/oneliners.py
Due: ruff, black

📝 pdoc3-generated api docs
  .github/workflows/docs.yml
  xthulu/resources.py
Due: ruff, black, prettier

📝 missing docstring
  userland/handle_events.py
Due: ruff, black

♻️ split console internals into sub-module
  xthulu/ssh/console/__init__.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/internal/__init__.py
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/file_wrapper.py
  xthulu/ssh/console/internal/input.py
  xthulu/ssh/context/__init__.py
Due: ruff, black

🚚 SSHContext.term -> console
  userland/scripts/lock_example.py
  userland/scripts/oneliners.py
  userland/scripts/top.py
  xthulu/ssh/console/app.py
  xthulu/ssh/console/art.py
  xthulu/ssh/console/banner_app.py
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/input.py
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
Due: ruff, black

📝 scope config/ssh key in readme to data directory
  README.md
Due: prettier

🚧 message/tag models
  xthulu/cli/db.py
  xthulu/models/__init__.py
  xthulu/models/message/__init__.py
  xthulu/models/message/message_tags.py
  xthulu/models/message/tag.py
Due: ruff, black

📝 check off message bases
  README.md
Due: prettier

✨ message recipient
  xthulu/models/message/__init__.py
Due: ruff, black

🚧 wip
  userland/scripts/messages.py
  userland/scripts/top.py
  xthulu/cli/db.py
  xthulu/models/message/__init__.py
  xthulu/models/message/message_tags.py
  xthulu/models/message/tag.py
Due: ruff, black

💄 temporary messages artwork
  userland/artwork/messages.ans
  userland/scripts/messages.py
Due: ruff, black, prettier

🚧 wip
  userland/scripts/messages.py
Due: ruff, black

💡 comment fix
  userland/scripts/messages.py
Due: ruff, black

⚰️ remove dataclass decorator
  userland/scripts/messages.py
Due: ruff, black

👷 use npm semantic-release instead of python version
  .github/workflows/release.yml
  .nvmrc
  .releaserc.json
  package-lock.json
  package.json
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: prettier

🔖 release 0.1.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  79a1ddbc2cc62b08cf7c380894cb91a1a3e7ff60
Due: prettier

🩹 fix changelog
  CHANGELOG.md
Due: prettier

⚰️ ditch util module
  CONTRIBUTING.md
  xthulu/util/__init__.py
  xthulu/util/coroutines.py
Due: ruff, black, prettier

📝 fix awkward wording
  README.md
Due: prettier

✨ node chat script
  userland/scripts/chat.py
  userland/scripts/top.py
Due: ruff, black

🔖 release 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  b6a387dec0fc2f63ffa215c7796bc038da1050a0
Due: prettier

📝 trim changelog
  CHANGELOG.md
Due: prettier

📝 fix Goto docstring
  xthulu/ssh/exceptions.py
Due: ruff, black

🔊 refactor session logging
  xthulu/ssh/context/__init__.py
  xthulu/ssh/process_factory.py
  xthulu/ssh/server.py
Due: ruff, black

🛂 web authentication
  CONTRIBUTING.md
  README.md
  requirements/requirements.in
  userland/web/__init__.py
  userland/web/static/index.html
  xthulu/web/__init__.py
  xthulu/web/auth.py
  xthulu/web/static/index.html
Due: ruff, black, prettier

✨ switch from Flask to FastAPI for server-sent events; web chat
  README.md
  requirements/hiredis.txt
  requirements/requirements.in
  requirements/requirements.txt
  tests/ssh/test_start_server.py
  tests/test_resources.py
  tests/web/test_start_server.py
  userland/scripts/top.py
  userland/web/__init__.py
  userland/web/routes/__init__.py
  userland/web/routes/chat.py
  userland/web/routes/index.py
  userland/web/static/chat.html
  xthulu/resources.py
  xthulu/ssh/server.py
  xthulu/web/__init__.py
  xthulu/web/asgi.py
  xthulu/web/auth.py
  xthulu/web/routes/__init__.py
  xthulu/web/routes/index.py
Due: ruff, black, prettier

🛂 no_password web auth
  xthulu/web/auth.py
Due: ruff, black

⏪️ restore top script flow
  userland/scripts/top.py
Due: ruff, black

💄 add slight delay to show bar completion in top
  userland/scripts/top.py
Due: ruff, black

🔖 release 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: prettier

Notes added by 'git notes add'
  ce63e08e8bdd6eea8b02100165b3875cd832e8b2
Due: prettier

💄 italic styles for system messages in web chat
  userland/web/static/chat/index.html
Due: prettier

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  prettier: any file but: \.py$
