Repository haliphax/xthulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # - id: no-commit-to-branch
      #   name: Block commits to main branch

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args:
          # Avoid use of cache directory with pip
          - --ignore
          - DL3042

  - repo: local
    hooks:
      - id: ruff-lint
        name: Lint files with ruff
        args: [check, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]

      - id: ruff-format
        name: Format files with ruff
        args: [format]
        entry: ruff
        language: system
        types: [python]

      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts)$
        language: system

      - id: prettier
        name: Format files with prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]

📝 provide docker-compose override example
  CONTRIBUTING.md
  docker/docker-compose.dev.yml
Due: prettier

📝 wrap package names in <code>
  .github/workflows/docs.yml
Due: prettier

🎨 empty __init__ for models to erase boilerplate docstrings
  userland/models/message/__init__.py
  userland/models/message/message_tags.py
  userland/models/message/tag.py
  userland/models/oneliner.py
  userland/web/schema/chat.py
  xthulu/models/user.py
  xthulu/web/auth.py
Due: ruff-lint, ruff-format

📝 add mypy section in contributor guide
  CONTRIBUTING.md
Due: prettier

📝 async test example in contributor guide
  CONTRIBUTING.md
Due: prettier

📝 info emoji in block quote
  README.md
Due: prettier

📝 wording
  README.md
Due: prettier

🔒️ remove h11 override
  requirements/dev.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: prettier

🔒️ add tmp override, bump npm override
  package-lock.json
  package.json
Due: prettier

💚 bump codeql to v2
  .github/workflows/codeql-analysis.yml
Due: prettier

👷 dependabot config
  .github/dependabot.yml
Due: prettier

💚 bump codeql to v3
  .github/workflows/codeql-analysis.yml
Due: prettier

👷 commitlint comment on PR failure
  .commitlintrc.cjs
  .github/workflows/commitlint.yml
  package-lock.json
  package.json
Due: prettier

👷 commitlint comment on PR failure (#171)
  .commitlintrc.cjs
  .github/workflows/commitlint.yml
  package-lock.json
  package.json
Due: prettier

👷 retry comment on coveralls failure
  .github/workflows/tests.yml
Due: prettier

👷 retry comment on coveralls failure (#172)
  .github/workflows/tests.yml
Due: prettier

🧑‍💻 fix gitmoji detection
  .commitlintrc.cjs
Due: prettier

🧑‍💻 pull request template
  .github/pull_request_template.md
Due: prettier

Update .commitlintrc.cjs
  .commitlintrc.cjs
Due: prettier

assets
  banner.jpg
  demo.gif
Due: prettier

📝 update banner image
  README.md
Due: prettier

⬆️ bump textual, fix linux driver
  requirements/requirements.in
  requirements/requirements.txt
  xthulu/ssh/console/internal/driver.py
  xthulu/ssh/console/internal/file_wrapper.py
Due: ruff-lint, ruff-format, prettier

🐛 fix seed parameter in db scripts
  userland/cli/db.py
  xthulu/cli/db.py
Due: ruff-lint, ruff-format

📌 give up pinning versions in dockerfile
  docker/Dockerfile
Due: prettier

🩹 disable alternate buffer for main menu
  userland/scripts/main.py
Due: ruff-lint, ruff-format

♻️ restore use of bold vs. bright for ansi artwork files
  userland/artwork/messages.ans
  userland/artwork/oneliners.ans
Due: prettier

🔥 remove SCP subsystem from alpha checklist
  README.md
Due: prettier

💄 simple SelectionList for message tagging
  userland/scripts/messages/details_modal.py
Due: ruff-lint, ruff-format

💄 simple SelectionList for message filtering
  userland/models/message/api.py
  userland/scripts/messages/app.py
  userland/scripts/messages/filter_modal.py
Due: ruff-lint, ruff-format

🐛 fix overlapping esc handling in messages app
  userland/scripts/messages/app.py
  userland/scripts/messages/details_modal.py
  userland/scripts/messages/editor_screen.py
  userland/scripts/messages/filter_modal.py
  userland/scripts/messages/save_modal.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

✨ remember selected button in main menu
  userland/scripts/main.py
Due: ruff-lint, ruff-format

✨ force utf-8 in top
  userland/scripts/top.py
Due: ruff-lint, ruff-format

🩹 hide banner if screen is < 80 cols
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

🐛 fix resize event for textual apps
  xthulu/ssh/console/app.py
  xthulu/ssh/console/banner_app.py
Due: ruff-lint, ruff-format

🐛 start new event loop if no current loop
  xthulu/cli/ssh.py
Due: ruff-lint, ruff-format

🔒️ mass requirements bump
  requirements/dev.txt
  requirements/requirements.txt
Due: prettier

➕ merge hiredis into main requirements
  CONTRIBUTING.md
  docker/Dockerfile
  pyproject.toml
  requirements/hiredis.in
  requirements/hiredis.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: prettier

🩹 squash empty chat messages
  userland/web/routes/chat.py
  userland/web/static/chat/script.ts
Due: ruff-lint, ruff-format, eslint, prettier
